html,
* {
    font-family: 'VT323', monospace;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

.load {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 1000;
    opacity: 0.8;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: none;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-left: -15px;
    position: absolute;
    border: 10px solid whitesmoke;
    border-radius: 50%;
    border-top: 10px solid #333333;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#greet {
    -webkit-animation: move 5s;
    border-right: 10px solid black;
    overflow: hidden;
    white-space: nowrap;
    animation:
        move 5s steps(40, end),
        blink 0.3s infinite;
    letter-spacing: .10em;
    font-size: 4.5vw;
    width: 68%;
}

@-webkit-keyframes move {
    from {
        width: 0%;
    }

    to {
        width: 68%;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        border-right: 10px solid transparent;
    }

    50% {
        border-right: 10px solid black;
    }
}

.container {
    height: 100vh;
    display: block;
    position: relative;
    background-color: #ffffff;
    transition: background-color .3s;
}

.orange-back {
    background-color: orange;
    transition: background-color .3s;
}

.black {
    background-color: black !important;
}

#foto {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 500px;
}

#angga {
    width: 60%;
    height: 60%;
    border-radius: 30px;
    object-fit: cover;
    overflow: hidden;
}

.title {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;
    color: #f1f1f1 !important;
}

.plus:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
}

.accordion {
    width: 100%;
    height: 50px;
    background-color: #333333;
    box-shadow: 0px .5px 0px 1px black;
    position: relative;
    z-index: 1000;
    margin-bottom: 0px;
    transition: margin-bottom 0.3s;
}

.accordion-content {
    height: 200px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: none;
    box-shadow: 0px .5px 0px 1px black;
}

.show {
    display: block;
    animation: showUp 0.3s linear 1;
    /* transition: display 0.3s; */
}

.min:after {
    content: "\2796";
}

@-webkit-keyframes showUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.move {
    margin-bottom: 200px;
    transition: margin-bottom 0.3s
}

.accordion:hover {
    cursor: pointer;
}

#dummy {
    display: absolute;
}

.content {
    display: flex;
    height: 100%;
    ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#email {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#status {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    opacity: 0.95;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.status {
    height: 30vh;
    text-align: left;
    border: 3px solid #333333;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}

.status-content {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.dark {
    background-color: rgba(55, 55, 55, 1);
    color: white;
    transition: color .3s;
}

.light {
    background-color: white;
    color: #333333;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.grid-item-story9 {
    display: flex;
    height: 150px;
    font-size: 1.5em;
    border: 1px solid black;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
}

.container-story9 {
    min-height: 30vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#no-center {
    align-items: flex-start;
}

.load-stuff,
.l0,
.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7,
.l8,
.l9 {
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i0,
.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9 {
    display: none;
}

#loading-stuff {
    z-index: 100;
    border: 10px solid whitesmoke;
    border-radius: 50%;
    border-top: 10px solid #333333;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.barang,
#wish {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin: 5px;
}

.paginator-container {}

#emailAlert,
#emailNotValid,
#emailValid,
#emailKosong,
#passAlert,
#passValid,
#passNotValid,
#success,
#error {
    display: none;
}

#password,
#email_form,
#name_form {
    width: 100%;
    border: 1px solid #333333;
    margin: 5px;
}

#data {
    display: none;
}

.data-field {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.data {
    margin: 10px;
}