{% extends 'homepage.html' %}
{% load static %}

    
    {% block body %}
        
    <div class="container">
        <div class="content row">
            <div id = "foto">
                <img src="{% static 'img/angga.png' %}" id="angga">
                <img>
                <h1 id="nama">Anggardha Febriano</h1>
                <h1 id="npm">1806235800</h1>
                <a href="{% url 'home:index' %}"><button id="myBtn" class="button dark">Home</button></a>
            </div>
            <div id="foto" style="justify-content:unset;">
                <div onclick="accordion(1)" class="accordion accordion1">
                    <div class="title">
                        <div class="grid-item">
                            <p>Aktivitas</p>
                        </div>
                        <div class="grid-item"></div>
                        <div class="grid-item plus plus1">
                        </div>
                    </div>
                    <div class="accordion-content accordion-content1">
                            <h1>- Staff Bem PTI</h1>
                            <h1>- Kuliah</h1>
                            <h1>- Makan</h1>
                            <h1>- Minum</h1>
                    </div>
                </div>
                <div onclick="accordion(2)" class="accordion accordion2">
                    <div class="title">
                        <div class="grid-item">
                            <p>Organisasi</p>
                        </div>
                        <div class="grid-item"></div>
                        <div class="grid-item plus plus2">
                        </div>
                    </div>
                    <div class="accordion-content accordion-content2">
                            <h1>- Staff Bem PTI</h1>
                            <h1>- Staff Pemira Fasilkom</h1>
                            <h1>- Staff Olimpiade UI</h1>
                    </div>
                </div>
                <div onclick="accordion(3)" class="accordion accordion3">
                    <div class="title">
                        <div class="grid-item">
                            <p>Prestasi</p>
                        </div>
                        <div class="grid-item"></div>
                        <div class="grid-item plus plus3">
                        </div>
                    </div>
                    <div class="accordion-content accordion-content3">
                        <h1>- OSP Biologi 2017</h1>
                        <h1>- Juara Taekwondo</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
        