{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Landing Page</title>
</head>

<body>

    {% block body %}
    <div class="load">
        <div id="loading"></div>
    </div>
    <div id="wrapper">
        <div class="container">
            <div class="content">
                <div id="greet">
                    <h1>Hello,Welcome :).</h1>
                </div>
                <div class="status">
                    {% for s in status %}
                    <div class="status-content">
                        <i class="material-icons">comment</i>
                        <p>{{s.email}},{{s.date | timesince}} ago<br>{{s.status}}</p>
                    </div>
                    {% empty %}
                    <div class="status-content">
                        <h1 style="font-size:5vw"><i class="material-icons" style="font-size:5vw">warning</i>There is no
                            Status available...</h1>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <button id="myBtn" class="button dark">Update Status</button>
                    <button onclick="changeTheme();" onmouseover="themePreview()" ; onmouseout="themePreview();"
                        class="button theme dark">Change Theme</button>
                    <a href="{% url 'home:biodata' %}"><button class="button dark">Biodata</button></a>
                    <a href="{% url 'story9:index' %}" id="toko"><button class="button dark">Toko Laptop</button></a>
                    <a href="{% url 'story10:daftar' %}" id="toko"><button class="button dark">Subscribe</button></a>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div style="width:40%">
                <span class="close">&times;</span>
                <h1 style="color:white">What is on your mind?</h1>
                <form method="POST">
                    <div class="content">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Post" class="button light">
                    </div>
                </form>
            </div>

        </div>
        <footer id="footer">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="wrap">
                <a class="item" href="https://id.linkedin.com/in/anggardha-febriano-369672128">
                    <i class='fa fa-linkedin-square' style="color: #333333;font-size: 24px"></i>
                </a>
                <a class="item" href="https://gitlab.com/anggardhanoano">
                    <i class='fa fa-gitlab' style="color: #333333;font-size: 24px"></i>
                </a>
                <a class="item" href="mailto:anggardhanoano@gmail.com?Subject=Hello">
                    <i class="fa fa-envelope" style="color: #333333;font-size: 24px"></i>
                </a>

            </div>
            <p style="color:#333333">Anggardha Febriano <i class="fa fa-copyright"></i>2019</p>
        </footer>
    </div>

    {% endblock body %}


    <!-- js stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    {% block js %}{% endblock js %}
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>