{% extends 'homepage.html' %}
{% load static %}

{% block body %}
<div class="content" style="padding-top:100px">
    <h1>Subscribe to My Website</h1>
    <form method=POST>
        {% csrf_token %}
        <p>Email : {{form.email}}</p>
        <p id="emailAlert" style="color:red">Email Sudah Dipakai</p>
        <p id="emailNotValid" style="color:red">Email Tidak Valid</p>
        <p id="emailKosong" style="color:red">Email wajib diisi</p>
        <p id="emailValid" style="color:green">Email Bisa Dipakai</p>
        <p>Name : {{form.username}}</p>
        <p>Password : {{form.password}}</p>
        <p id="passAlert" style="color:red">Password harus memiliki minimal 7 karakter</p>
        <p id="passNotValid" style="color:red">Password harus mengandung huruf dan angka</p>
        <p id="passValid" style="color:green">Password Bisa Dipakai</p>
        <p id="success" style="color:green">Anda berhasil Daftar, silahkan daftar lagi</p>
        <p id="error" style="color:red">Anda Gagal Daftar</p>
    </form>
    <button class="button" type="button" onclick="daftarPost()" disabled id="daftar">Daftar</button><br>
    <button onclick="showData()" class="button">Show Data</button>
    <div id="data">
        <p>Subscriber</p>
    </div>
</div>


{% endblock body %}

{% block js %}
<script src="{% static 'js/story10.js' %}"></script>
{% endblock js %}