{% extends 'homepage.html' %}
{% load static %}

{% block body %}



<div class="container-story9">
    {% if user.is_authenticated %}
    <h3>Hello, {{user.username}}</h3>
    <a href="{% url 'story9:keluar' %}">Logout</a>
    {% else %}
    <form method="POST" action="{% url 'story9:masuk' %}">
        {% csrf_token %}
        <input type="input" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </form>
    {% endif %}
    <h1 style="font-size:5em;text-align: center;">Electronics Stuff</h1>
</div>
<div>
    <div class="container-grid">
        <div class="grid-item-story9">
            <div class="l0">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i0">
                <p id="text0"></p>
                <p id="price0"></p>
                <p id="brand0"></p>
                <p id="category0"></p>
                <p id="desc0"></p>
                <button class="button" onclick="addWishList(0)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l1">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i1">
                <p id="text1"></p>
                <p id="price1"></p>
                <p id="brand1"></p>
                <p id="category1"></p>
                <p id="desc1"></p>
                <button class="button" onclick="addWishList(1)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l2">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i2">
                <p id="text2"></p>
                <p id="price2"></p>
                <p id="brand2"></p>
                <p id="category2"></p>
                <p id="desc2"></p>
                <button class="button" onclick="addWishList(2)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l3">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i3">
                <p id="text3"></p>
                <p id="price3"></p>
                <p id="brand3"></p>
                <p id="category3"></p>
                <p id="desc3"></p>
                <button class="button" onclick="addWishList(3)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l4">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i4">
                <p id="text4"></p>
                <p id="price4"></p>
                <p id="brand4"></p>
                <p id="category4"></p>
                <p id="desc4"></p>
                <button class="button" onclick="addWishList(4)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l5">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i5">
                <p id="text5"></p>
                <p id="price5"></p>
                <p id="brand5"></p>
                <p id="category5"></p>
                <p id="desc5"></p>
                <button class="button" onclick="addWishList(5)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l6">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i6">
                <p id="text6"></p>
                <p id="price6"></p>
                <p id="brand6"></p>
                <p id="category6"></p>
                <p id="desc6"></p>
                <button class="button" onclick="addWishList(6)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l7">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i7">
                <p id="text7"></p>
                <p id="price7"></p>
                <p id="brand7"></p>
                <p id="category7"></p>
                <p id="desc7"></p>
                <button class="button" onclick="addWishList(7)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l8">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i8">
                <p id="text8"></p>
                <p id="price8"></p>
                <p id="brand8"></p>
                <p id="category8"></p>
                <p id="desc8"></p>
                <button class="button" onclick="addWishList(8)">Add</button>
            </div>
        </div>
        <div class="grid-item-story9">
            <div class="l9">
                <div class="load-stuff">
                    <div id="loading-stuff"></div>
                </div>
            </div>
            <div class="wrap-stuff i9">
                <p id="text9"></p>
                <p id="price9"></p>
                <p id="brand9"></p>
                <p id="category9"></p>
                <p id="desc9"></p>
                <button class="button" onclick="addWishList(9)">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="container-story9">
    <div style="display:flex">
        <button class="button" style="margin:2px;" onclick="getPage(0)">1</button>
        <button class="button" style="margin:2px;" onclick="getPage(1)">2</button>
        <button class="button" style="margin:2px;" onclick="getPage(2)">3</button>
        <button class="button" style="margin:2px;" onclick="getPage(3)">4</button>
        <button class="button" style="margin:2px;" onclick="getPage(4)">5</button>
        <button class="button" style="margin:2px;" onclick="getPage(5)">6</button>
        <button class="button" style="margin:2px;" onclick="getPage(6)">7</button>
        <button class="button" style="margin:2px;" onclick="getPage(7)">8</button>
        <button class="button" style="margin:2px;" onclick="getPage(8)">9</button>
        <button class="button" style="margin:2px;" onclick="getPage(9)">10</button>
    </div>
    <!-- <button class="button" onclick="onRefresh()" style="width:80%;margin-bottom:50px;background-color:orange">Generate Other Stuff</button> -->
    <div id="barang">
        <h1 style="text-align:center">Your Wishlist</h1>
        <p id="justify" style="text-align:center">No Item in Wishlist</p>
    </div>
    <h1 id="total-price">Total Price</h1>
    {% if user.is_authenticated %}
    <p id="wish">Rp 0</p>
    {% else %}
    <p>Please Login to see the total price</p>
    {% endif %}
</div>


{% endblock body %}


{% block js %}
<script src="{% static 'js/story9.js' %}"></script>
{% endblock js %}